<h3>{{ name }}, здравствуйте!</h3>

<p>Спасибо за ваш заказ! Оплата вашего заказа поступила на счет нашего магазина!</p>
<p>Товары по Вашему заказу и презент от нашего интернет магазина будут отправлены по указанному Вами адресу в течение 3-4 рабочих дней.
    В день отправки товаров на Вашу почту будет выслан трекинг-код для отслеживания местоположения вашей посылки и фото вашего укомплектованного заказа.</p>
<div>
    <p>№ Вашей операции: {{ transaction }}</p>
    <p>id Вашего заказа: {{ id }}</p>
    <p>Выбранные товары: </p>
    <p style="font-weight: bold;">{{ items }}</p>
    <p>Итого: {{total}}</p>
</div>

<div>
    <br/>
    <p>Спасибо,что выбрали нас!</p>
    <h3>С уважением, www.waymy.ru</h3>
    <p><img width="400px" src="http://way.ru/static/images/logo3.png" alt="логотип"/></p>
    <p><strong>Контактный телефон по всей России:</strong>&nbsp;<a href="tel:+79175773322">+79175773322</a></p>
    <p><strong>Москва:</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>&nbsp;Казань:</strong></p>
    <p>тел: +7(495)643-00-98 &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;тел: <a href="tel:+7(843)559-04-94">+7(843)559-04-94</a></p>
    <p>Метро "Вднх" &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Метро "Яшлек" &nbsp;</p>
    <p>Ул.Маломосковская 2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ул.Декабристов 112</p>
    <p><strong>КУРЬЕРСКАЯ ДОСТАВКА ПО МОСКВЕ И КАЗАНИ&nbsp;</strong></p>
</div>