<h3> {{ name }}, здравствуйте!</h3>

<p>Добро пожаловать и благодарим Вас за регистрацию в нашем интернет магазине тайских товаров — PolyThai.ru!</p>
<p>Ваш аккаунт создан и Вы можете войти в ваш личный кабинет, используя следующие данные: </p>
<p><strong>Имя ползователя</strong>: {{ username }}</p>
<p><strong>Пароль</strong>: {{ password }}</p>

<p>Ссылка для входа в ваш личный кабинет: http://polythai.ru/accounts/login/</p>

<div>
    <p>Спасибо,что выбрали нас!</p>
    <h3>С уважением, www.PolyThai.ru</h3>
    <p><img width="400px" src="http://dev.polythai.ru/static/images/logo.png" alt="логотип"/></p>
    <p><a href="http://polythai.ru/">http://polythai.ru/</a></p>
    <p><a href="mailto:PolyThai@mail.ru">PolyThai@mail.ru</a></p>
</div>