<h3> {{ name }}, здравствуйте!</h3>

<p>Добро пожаловать и благодарим Вас за регистрацию в нашем интернет магазине товаров здоровья — Waymy.ru!</p>
<p>Ваш аккаунт создан и Вы можете войти в ваш личный кабинет, используя следующие данные: </p>
<p><strong>Имя ползователя</strong>: {{ username }}</p>
<p><strong>Пароль</strong>: {{ password }}</p>

<p>Ссылка для входа в ваш личный кабинет: http://waymy.ru/accounts/login/</p>

<div>
    <p>Спасибо,что выбрали нас!</p>
    <h3>С уважением, www.waymy.ru</h3>
    <p><img width="400px" src="http://dev.waymy.ru/static/images/logo.png" alt="логотип"/></p>
    <p><a href="http://waymy.ru/">http://waymy.ru/</a></p>
    <p><a href="mailto:waymy@list.ru">waymy@list.ru</a></p>
</div>