{% extends "catalog.html" %}
{% load i18n %}
{% load thumbnail %}
{% load catalog_tags %}
{% load search_tags %}

{% block content %}

    <div class="tovari">
        <div class="container">
            <div class="row">

                        {% if products %}

                            {% for p in products %}
                                {% if forloop.counter < 5 %}
                                    <div class="col-xs-12 col-cp-6 {% if forloop.counter == 4 %}last{% endif %} popular_products">
                                        <div class="product_thumbnail">
                                            {% thumbnail p.image.url "100x100" crop="center" as im %}
                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                            {% endthumbnail %}
                                        </div>
                                        <name>{{ p.name }}</name>
                                        <div class="description_tovar">{{ p.description|removetags:"img"|truncatewords:"12"|safe }}</div>
                                        <span class="price">{{ p.volume.price }} руб.</span>
                                        <a class="btn btn-success" href="{{ p.get_absolute_url }}">Подробнее</a>
                                        <img src="{{ STATIC_URL }}images/separator.jpg" class="separator_line" alt=""/>
                                        
                                        <div class="inline_form">
                                            <input type="hidden" class="slug" value="{{ p.slug }}" />

                                            <select id="option_{{ p.slug }}" class="option_value" size="1">
                                                {% if p.is_aqua %}
                                                    {% for atr in p.atrs %}
                                                        <option value="{{ atr.id }}">{{ atr.volume }} мл.</option>
                                                    {% endfor %}
                                                {% else %}
                                                    {% for atr in p.atrs %}
                                                        <option value="{{ atr.id }}">{{ atr.weight }} гр.</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            
                                            <div id="{{ p.id }}" class="quantity">
                                                <i class="btn-mini fa fa-minus-square minus" onselectstart="return false"></i>
                                                <input name="quantity{{ p.id }}" maxlength="2" id="id_quantity{{ p.id }}" type="text" class="q_val" value="1" size="1">
                                                <i class="btn-mini fa fa-plus-square plus" onselectstart="return false"></i>
                                            </div>
                                            <button class="btn btn-primary clickbutton animation" id="{{ p.id }}">В корзину</button>
                                        </div>

                                    </div>
                                {% endif %}
                            {% endfor %}

                        {% else %}
                            <p>товары не найдены</p>
                        {% endif %}

            </div>
        </div>
    </div>

    <div class="special">
        <div class="container">
            <div class="row">
                <h1>Наше специальное предложение</h1>
                    <div class="col-xs-6">
                        <div class="big_text spesial_text">
                            <p>Балгарский байховый мед из из лучших кладовых балгарии, созданый по древним рецептам  и правилам , специально для Вас со скидкой 30%</p>
                            <a class="btn btn-default" href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <img src="{{ STATIC_URL }}images/med_1136.jpg" alt=""/>
                    </div>
            </div>
        </div>
    </div>

    <div class="review">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="center">О нас говорят</h1>

                    <style>
                        #simple .frame {
                            width: 100%;
                            height: 210px;
                        }
                        #simple .frame ul {
                            list-style: none;
                            height: 100%;
                            padding: 0;
                            margin: 0;
                        }
                        #simple .frame ul li {
                            float: left;
                            height: 160px;
                            padding: 0 10px;
                        }
                        #simple .frame ul li img {
                            max-width: none;
                        }
                        #simple .frame ul li .details {
                            padding-top: 10px;
                            font-weight: 300;
                        }
                        #simple .frame ul li .details strong {
                            display: block;
                            color: #000;
                        }
                        #simple .frame ul li .details b {
                        }
                        #simple ul.mSPages {
                            float: right;
                            margin-bottom: 20px;
                            margin-right: 12px;
                        }
                        #simple .mSButtons {
                            top: 91px;
                            bottom: auto;
                        }
                    </style>



                     <!-- Button trigger modal -->

                    <!-- PARENT -->
                    <div class="mightyslider_carouselSimple_skin clearfix" id="simple">
                        <ul class="mSPages"></ul>
                        <div class="frame">
                            <ul class="slide_element">

                                {% for review in reviews %}
{#                                    <li class="slide" data-mightyslider="cover:'{{ MEDIA_URL }}{{ review.photo }}', link: { url: '{{ MEDIA_URL }}{{ review.photo }}', 'data-caption': '&lt;strong&gt;Blossom&lt;/strong&gt; by &lt;b&gt;Christopher Wesser&lt;/b&gt;' }">#}
                                    <li class="slide">
                                        <div class="details">
                                            <img src="{{ MEDIA_URL }}{{ review.photo }}" alt=""/>
                                            <strong>{{ review.name }}</strong>
                                            <div style="width:90%">{{ review.review|truncatewords:"30"|safe }}</div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div id="order_mail">
            <div class="container">
                <div class="row">

                    <div class="col-md-8 col-md-offset-2 form_area">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form_container">
                                    <h4 style="text-align: center;"><span class="gift_day">Получите наш подарок дня</span><br/> прямо сейчас!</h4>
{#                                    <h4 style="text-align: center;"></h4>#}
                                    <form action="." method="post" id="my_form">
                                        <div class="">
                                            {% csrf_token %}
                                            <p>{{ form.name }}</p>
                                            <p>{{ form.phone }}</p>
                                            <input class="btn btn-default" id="" value="Отправить" type="submit">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h2 >Waymy - это товары высочайшего качества, которые придутся по душе Вам и Вашей семье!</h2>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
    </div>


{% endblock %}



{% block bottom_script %}

{#    <script src="http://mightyslider.com/assets/js/retina.js" type="text/javascript"></script>#}
{#    <script src="http://mightyslider.com/assets/js/jquery.easing-1.3.pack.js" type="text/javascript"></script>#}
{#    <script src="http://mightyslider.com/assets/js/jquery.simplr.smoothscroll.js" type="text/javascript"></script>#}
{#    <script src="http://mightyslider.com/assets/js/jquery.stellar.js" type="text/javascript"></script>#}
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($){

            var $win = $(window),
                isTouch = !!('ontouchstart' in window),
                clickEvent = isTouch ? 'tap' : 'click';

            (function(){
                /**
                 * Calculate the slides width in percent based on the parent's width.
                 *
                 * @return {String}
                 */
                function calculator(width){
                    var percent = '50%';

                    if (width <= 480) {
                        percent = '100%';
                    }
                    else if (width <= 768) {
                        percent = '50%';
                    }
                    else if (width <= 980) {
                        percent = '50%';
                    }

                    return percent;
                };

                // Global slider's DOM elements
                var $carousel = $('#simple'),
                    $pagesbar = $('.mSPages', $carousel),
                    $frame = $('.frame', $carousel);

                // Calling new mightySlider class
                var slider = new mightySlider($frame, {
                    speed: 1000,
                    easing: 'easeOutExpo',
                    viewport: 'fill',

                    // Navigation options
                    navigation: {
                        navigationType: 'basic',
                        activateOn: clickEvent,
                        slideSize: calculator($win.width())
                    },

                    // Commands options
                    commands: {
                        buttons: 1
                    },

                    // Pages options
{#                    pages: {#}
{#                        pagesBar:       $pagesbar[0],#}
{#                        activateOn:     clickEvent#}
{#                    },#}

                    // Dragging options
{#                    dragging: {#}
{#                        mouseDragging: 0,#}
{#                        touchDragging: 0#}
{#                    }#}
                }).init();

                // Register window :resize event callback
                $win.resize(function(){
                    // Update slider options using 'set' method
                    slider.set({
                        navigation: {
                            slideSize: calculator($win.width())
                        }
                    });
                });
            })();
        });
    </script>

<script type="text/javascript">
    //по нажатию на + или - меняем значение в поле quantity
    (function($) {
        $(document).ready(function() {
            $('.plus').click(function (){
                var current_q = $(this).parent(".quantity").children(".q_val").val();
                var current_quantity = parseInt(current_q) + 1;
                $(this).parent(".quantity").children(".q_val").attr("value", current_quantity);
            });
            $('.minus').click(function (){
                var current_q = $(this).parent(".quantity").children(".q_val").val();
                if (parseInt(current_q)>1){
                    var current_quantity = parseInt(current_q) - 1;
                    $(this).parent(".quantity").children(".q_val").attr("value", current_quantity);
                }
            });
        });
    })(jQuery);

</script>

<script>
    (function($) {
        $(document).ready(function() {

            $(".clickbutton").click(function (){
                var current_id = $(this).attr("id");
                var current_slug = $(this).parent(".inline_form").children(".slug").val();
                var current_quantity = $(this).parent(".inline_form").children(".quantity").children(".q_val").val();
                // что бы работать с селектами нормально подключен скрипт:
                // bootstrap-combobox https://github.com/cchantep/bootstrap-combobox
                var current_option = $(this).parent(".inline_form").children('.option_value').btComboBox('value');
                csrftoken = $.cookie('csrftoken');
                
                $.post(
                    "/ajax-cart/",
                    {
                        csrfmiddlewaretoken: csrftoken,
                        product_slug: current_slug,
                        quantity: current_quantity,
                        atr_value: current_option
                    },
                    onAjaxSuccess
                );
                function onAjaxSuccess(data) {
                    // Здесь мы получаем данные, отправленные сервером и выводим их на экран.
                    $("#id_quantity"+current_id).addClass('animated bounceOutUp');
                    $(".cart_items_menu").html(data.add_item_html);
                    $("#total_count").html(data.global_quantity);
                    setTimeout(function () {
                        $("#id_quantity"+current_id).removeClass('animated bounceOutUp');
                    }, 1000);
                }
            });

        });
    })(jQuery);
</script>

{% endblock %}
