{% load sitetree %}
<ul class="pull-left">
    <li style="color:#fff; margin-top: 7px;">+7 (985) 643-0098</li>
</ul>
<ul class="nav navbar-nav pull-right" id="mainMenu">
    {% for item in sitetree_items %}
        {% if request.get_full_path == "/" and forloop.counter != 1 %}
            <li class="dropdown">
                <a class="dropdown-toggle" {% if item.has_children %} data-toggle="dropdown" {% endif %} href="{% if item.has_children %}#{% else %}{% sitetree_url for item %}{% endif %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} {% if item.is_current or item.in_current_branch %}class="{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}"{% endif %}>{{ item.title_resolved }}{% if item.has_children %}<b class="caret"></b>{% endif %}</a>
                {% if item.has_children %}
                    {#{% sitetree_children of item for menu template "sitetree/menu_dropdown.html" %}#}


                    {% sitetree_children of item for menu template "sitetree/menu_dropdown.html" %}

                {% endif %}
            </li>
        {% elif request.get_full_path != "/" %}
            <li class="dropdown">
                <a class="dropdown-toggle" {% if item.has_children %} data-toggle="dropdown" {% endif %} href="{% if item.has_children %}#{% else %}{% sitetree_url for item %}{% endif %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} {% if item.is_current or item.in_current_branch %}class="{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}"{% endif %}>{{ item.title_resolved }}{% if item.has_children %}<b class="caret"></b>{% endif %}</a>
                {% if item.has_children %}
                    {#{% sitetree_children of item for menu template "sitetree/menu_dropdown.html" %}#}

                    {% sitetree_children of item for menu template "sitetree/menu_dropdown.html" %}

                {% endif %}
            </li>
        {% endif %}

    {% endfor %}
</ul>

{#<div class="dropdown">#}
{#<ul class="nav navbar-nav pull-right" id="mainMenu">#}
{#    {% for item in sitetree_items %}#}
{#	<li class="dropdown">#}
{#        <a class="dropdown-toggle" href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} {% if item.is_current or item.in_current_branch %}class="{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}"{% endif %}>{{ item.title_resolved }}</a>#}
{#		{% if item.has_children %}#}
{#			{% sitetree_children of item for menu template "sitetree/menu_dropdown.html" %}#}
{#		{% endif %}#}
{#	</li>#}
{#	{% endfor %}#}
{#</ul>#}
{#</div>#}
{#<ul>#}
{#	{% for item in sitetree_items %}#}
{#	<li>#}
{#        <a href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} {% if item.is_current or item.in_current_branch %}class="{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}"{% endif %}>{{ item.title_resolved }}</a>#}
{#		{% if item.has_children %}#}
{#			{% sitetree_children of item for menu template "sitetree/menu.html" %}#}
{#		{% endif %}#}
{#	</li>#}
{#	{% endfor %}#}
{#</ul>#}
