{% load sitetree %}

<ul class="" id="">
	{% for item in sitetree_items %}
		<li class="">
			<a class="" {% if item.has_children %} data-toggle="" {% endif %} href="{% if item.has_children %}#{% else %}{% sitetree_url for item %}{% endif %}"
			   {% if item.hint %}title="{{ item.hint }}"{% endif %}
			   {% if item.is_current or item.in_current_branch %}class="{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}"{% endif %}>
				<i class="fa fa-circle"></i><span>{{ item.title_resolved }}</span>
				{% if item.has_children %}<b class=""></b>{% endif %}
			</a>
		</li>
	{% endfor %}
</ul>