{% load i18n %}
{% load catalog_tags %}
{% load thumbnail %}

<ul class="nav">
  <li class="dropdown">
    <a href="{% url show_cart %}" class="dropdown-toggle" data-toggle="dropdown">
        <n style="">Корзина</n> <i class="fa fa-shopping-cart"><span >{{ cart_i.count }}</span></i>
    </a>
    <ul class="dropdown-menu">

        <div class="pre-scrollable">

        <div class="cart_items_menu">
            {% if cart_i %}
                {% for item in cart_i %}
                    <div class="cart_items_prod">
{#                        {% thumbnail item.product.get_image.url "100x100" crop="center" as im %}#}
                            <img src="/media/{{  item.product.get_image.url }}" width="88" height="88">
{#                        {% endthumbnail %}#}

                        <div class="text_item">
                            <p class="name_item">{{ item.product.name }}</p>
                            <p>Цена: <i class="fa fa-rub"></i>{{ item.atributes.price }}</p>
                            <p>Колличество: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
                <a href="{% url show_cart %}" class="btn btn-success"><i class="icon-shopping-cart icon-white" style="margin-right: 5px;"></i> Показать корзину</a>
            {% else %}
                <p>Нет товаров в корзине</p>
            {% endif %}
        </div>

        </div>

    </ul>
  </li>
</ul>


