{% load i18n %}
{% load catalog_tags %}
{% load thumbnail %}


{% if lider_items %}
    {% for item in lider_items %}
        <div class="leader_item">
            <a href="{{ item.get_absolute_url }}" class="name_item">{{ item.name }}</a>
{#            {% thumbnail item.get_image.url "100x100" crop="center" as im %}#}
                <img src="/media/{{ item.get_image.url }}" width="100" height="100">
{#            {% endthumbnail %}#}
            <div class="text_item">
                <p><strong>Бренд:</strong> {{ item.brand_name }}</p>
{#                <p>Описание: {{ item.description|truncatewords:10|safe }}</p>#}
                <p><strong>Объем:</strong> {{ item.get_atributes.volume }} мл.</p>
                <p><strong>Вес:</strong> {{ item.get_atributes.weight }} гр.</p>
                {% if item.is_not_available %}
                    <p style="color: red;">Нет в наличии</p>
                {% endif %}
                {% if item.sale_price.new_price != 0.00 %}
                    <div class="price_was">
                        {% trans "Was" %}: <span>{{ item.sale_price.price }} {% trans "руб." %}</span>
                    </div>
                    <div class="price_now">
                        {% trans "Now" %}:<span> {{ item.sale_price.new_price }} {% trans "руб." %}</span>
                    </div>
{#                    <p>*за объем: {{ item.sale_price.volume }} мл.</p>#}
                {% else %}
                    <p>{{ item.sale_price.price }} {% trans "руб." %}</p>
                {% endif %}
                <p></p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Нет лидеров</p>
{% endif %}
