{% extends "catalog.html" %}
{% block slider %}
{% endblock %}
{% block tri_bloka %}
{% endblock %}
{% block meta %}
    <title>{% if meta_object %}{{ meta_object.title }}{% else %}{{ page.name }}{% endif %} - {{ site_name }}</title>
    <meta name="description" content="{% if meta_object %}{{ meta_object.description }}{% else %}{{ meta_description }}{% endif %}" />
{% endblock %}
{% block ckeditor %}
    <script type="text/javascript">
        window.onload = function()
        {
            $('#myTab a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        };
    </script>
{% endblock %}
{% block content %}

    <div id="stranica">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ page.name }}</h1>
                    {% if request.user.is_superuser %}
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#home" data-toggle="tab">Содержание</a></li>
                            <li class=""><a href="#edit" data-toggle="tab">Редактировать</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="home">
                                {{ page.text|safe }}
                            </div>
                            <div class="tab-pane" id="edit">
                                <form class="" action="." method="post">{% csrf_token %}
                                    <h3>Измените материал</h3>
                                    <table>
                                        {{ form.media }}
                                        {{ form.as_p }}
                                    </table>
                                    <table>
                                    <tr>
                                        <th colspan="2">
                                            <input type="submit" class="btn btn-primary" value="Отправить" class="submit review_button" />
                                        </th>
                                    </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        {{ page.text|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
