{% extends "catalog.html" %}
{% block slider %}
{% endblock %}
{% block tri_bloka %}
{% endblock %}

{% block title %}
{{ page.name }} - {{ site_name }}
{% endblock %}

{% block ckeditor %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>#}
    <script type="text/javascript">
        window.onload = function()
        {
{#            CKEDITOR.replace('text', {#}
{#                toolbar: 'Basic'#}
{#            });#}

            $('#myTab a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        };
    </script>

    <!-- The best place for this one is your <HEAD> tag -->
{#<script>UPLOADCARE_PUBLIC_KEY = "demopublickey";</script>#}
{#<script src="https://ucarecdn.com/widget/1.4.6/uploadcare/uploadcare-1.4.6.min.js" charset="utf-8"></script>#}

{% endblock %}

{% block content %}


    <div id="stranica">

        <h1>{{ page.name }}</h1>

{#        <h2>{{ tiny }}</h2>#}
{#        <h2>{{ static }}</h2>#}

        {% if request.user.is_superuser %}

            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Содержание</a></li>
                <li class=""><a href="#edit" data-toggle="tab">Редактировать</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                    {{ page.text|safe }}
                </div>
                <div class="tab-pane" id="edit">
                    <form class="" action="." method="post">{% csrf_token %}
                        <h3>Измените материал</h3>
                        <table>
                            {{ form.media }}
                            {{ form.as_p }}
                        </table>
                        <table>
                        <tr>
                            <th colspan="2">
                                <input type="submit" value="Отправить" class="submit review_button" />
                            </th>
                        </tr>
                        </table>
                    </form>
                </div>
            </div>
        {% else %}

            {{ page.text|safe }}
        {% endif %}

    </div>
{% endblock %}
