{% extends "catalog.html" %}
{% load thumbnail %}
{% load i18n %}

{% block slider %}
{% endblock %}

{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-xs-12">#}
{#            {% for breadcrumb in request.breadcrumbs %}#}
{#                <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>{% if not forloop.last %} &raquo; {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}


{% block tri_bloka %}
{% endblock %}


{% block content %}

    <div id="catalog">
        <div class="container">
            <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ c.name }}</h1>
                    </div>

                    {% if products %}
{#                        {% for p in products %}#}
{#                            <div class="col-xs-12 col-md-3">#}
{#                                <div class="product_thumbnail">#}
{#                                    <a href="{{ p.get_absolute_url }}">#}
{#                                        <img src="/media/{{ p.image_url }}" width="100" height="100">#}
{#                                        <h3>{{ p.name|truncatewords:15 }}</h3>#}
{#                                    </a>#}
{#                                    {% if p.sale_price.new_price != 0.00 %}#}
{#                                        <div class="price_was">#}
{#                                            {% trans "Was" %}: <span>{{ p.sale_price.price }} {% trans "руб." %}</span>#}
{#                                        </div>#}
{#                                        <div class="price_now">#}
{#                                            {% trans "Now" %}:<span> {{ p.sale_price.new_price }} {% trans "руб." %} *</span>#}
{#                                        </div>#}
{#                                        <p>*за объем: {{ p.sale_price.volume }} мл.</p>#}
{#                                    {% else %}#}
{#                                        <p>{{ p.sale_price.price }} {% trans "руб." %}</p>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                        закончить цыкл#}

                        {% for p in products %}
                            <div class="col-xs-12 col-cp-6 {% if forloop.last %}last{% endif %} popular_products">
                                <div class="product_thumbnail">
                                    <img src="/media/{{ p.image_url }}" width="100" height="100">
                                </div>
                                <name>{{ p.name }}</name>
                                <div class="description_tovar">{{ p.description|removetags:"img"|truncatewords:"12"|safe }}</div>
                                <span class="price">{{ p.volume.price }} руб.</span><a class="btn btn-success" href="{{ p.get_absolute_url }}">Подробнее</a>
                                <img src="{{ STATIC_URL }}images/separator.jpg" class="separator_line" alt=""/>
                            </div>
                        {% endfor %}

{#                    иначе .... если продукты не существуют#}
                    {% else %}
                       <div class="none_tovar">
                        {% trans "В категории отсутствуют товары" %}
                       </div>
                    {% endif %}
{#                    закончить условие "если"#}
            </div>
        </div>
    </div>
{% endblock %}


