{% extends "catalog.html" %}
{% load i18n %}
{% load catalog_filters %}
{% load thumbnail %}
{% load cropping %}

{% block product_js %}
    <script src="{{ STATIC_URL }}js/slides.min.jquery.js"></script>
    <script>
		$(function(){
			$('#products').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				effect: 'slide, fade',
				crossfade: true,
				slideSpeed: 200,
				fadeSpeed: 500,
				generateNextPrev: true,
				generatePagination: false
			});
		});
	</script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/product.css">

{% endblock %}

{% block slider %}
{% endblock %}
{% block tri_bloka %}
{% endblock %}

{% block content %}
    <div id="product_lict">
        <div class="container">
            <div class="row row-fluid">

                <div class="col-xs-12 product_text">
                    <h1>{{ p.name }}</h1>
                </div>


                <div class="col-xs-5">
{#                    {% thumbnail product_image.url "298x319" crop="center" as im %}#}
{#                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">#}
{#                    {% endthumbnail %}#}
                    {% if images %}

                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container">
                                    {% for image in images %}
                                        <a name="">
{#                                        {% thumbnail image.url "300x300" crop="center" as im %}#}
{#                                            <img src="{{ im.url }}" >#}
{#                                        {% endthumbnail %}#}
{#                                            <img src="{% cropped_thumbnail image "cropping" scale=1%}">#}
                                            <img src="/media/{{ image.url }}" width="300" height="300">
                                        </a>
                                    {% endfor %}
                                </div>
                                <ul class="pagination">
                                    {% for image in images %}
                                        <li><a href="#"><img src="/media/{{ image.url }}" width="55" alt=""/></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    {% else %}
                        <p>Нет фото</p>
                    {% endif %}

                </div>

                <div class="tabbable">
                    <div class="col-xs-7">

                        <h2>Описание:</h2>
                        <div class="tab-pane" id="description">{{ p.description|truncatewords:30|safe }}</div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-12" style="height: 40px;">
                                <div class="row">
                                    <div class="col-xs-6">Брэнд:</div>
                                    <div class="col-xs-6">{{ p.brand_name.name }}</div>
                                </div>
                            </div>
                            <div class="col-xs-12" style="height: 40px;">
                                <div class="row">
                                    <div class="col-xs-6">Объем:</div>
                                    <div class="col-xs-6">
                                        <select onchange="Dajaxice.webshop.ajaxapp.change_atrs(Dajax.process, {'option':this.value})" size="1">
                                            {% for atr in atrs %}
                                                <option value="{{ atr.id }}">{{ atr.volume }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" style="height: 40px;">
                                <div class="row">
                                    <div class="col-xs-6">Вес:</div>
                                    <div class="col-xs-6"><span id="weight">{{ atrs_default.weight }} гр.</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xs-7">
                    <div class="row">
                        <div class="price_cart">
                            <div class="col-xs-6">
                                {% if p.feel.count > 0 %}
                                    <p>Выберите разновидность:</p> <br/>
                                {% endif %}

                                <div id="super_price" class="{% if p.get_atributes.new_price == 0.00 %}hidden{% endif %}">
                                    <div class="price_was">
                                        {% trans "Was" %}: <span id="price">{{ atrs_default.price }} {% trans "руб." %}</span>
                                    </div>
                                    <br/>
                                    <div class="price_now">
                                        <span id="new_price">{% trans "Now" %}: {{ atrs_default.new_price }} руб.</span>
                                    </div>
                                </div>
                                <div id="old_price" class="{% if p.get_atributes.new_price != 0.00 %}hidden{% endif %}">
                                    <span id="price_old">{% trans "Price" %}: {{ atrs_default.price }} {% trans "руб." %} </span>
                                </div>

{#                                {% if p.sale_price.new_price != 0.00 %}#}
{#                                    <div class="price_was">#}
{#                                        {% trans "Was" %}: <span>{{ p.sale_price.price }} {% trans "руб." %}</span>#}
{#                                    </div>#}
{#                                    <div class="price_now">#}
{#                                        {% trans "Now" %}:<span> {{ p.sale_price.new_price }} {% trans "руб." %} *</span>#}
{#                                    </div>#}
{#                                    <p>*за объем: {{ p.sale_price.volume }} мл.</p>#}
{#                                {% else %}#}
{#                                    <p>{{ p.sale_price.price }} {% trans "руб." %}</p>#}
{#                                {% endif %}#}


                            </div>

                            <div class="col-xs-6">
                                <form method="post" action="." class="cart" id="addToCartForm">{% csrf_token %}
                                    <div class="hidden">
                                        {{ form.product_slug }}
                                    </div>
                                    <div class="hidden">
                                        <input id="atr_value" name="atr_value" type="hidden" value="{{ atrs.0.id }}"/>
                                    </div>
                                    {% if p.feel.count > 0 %}
                                        <div class="feel">
                                            {% if error.feel %}{{ error.feel }}<div class="error">{% endif %}
                                            <label for="id_feel">Выберите вкус:</label>
                                            <select name="feel" id="id_feel">
                                                {% for feel in p.feel.all %}
                                                    <option value="{{ feel.id }}">{{ feel.name }}</option>
                                                {% endfor %}
                                            </select>
                                            {% if error.feel %}</div>{% endif %}
                                        </div>
                                    {% endif %}
                                    <div class="quantity">
                                        <br/><label for="id_quantity">Количество:</label>
                                        <i id="id_minus" class="btn-mini fa fa-minus-square" onselectstart="return false"></i>
                                        {{ form.quantity }}
                                        <i id="id_plus" class="btn-mini fa fa-plus-square" onselectstart="return false"></i>
                                    </div>
{#                                    <input class="btn btn-success" type="submit" value="{% trans "Add To Cart" %}"#}
{#                                    name="submit" alt=" {% trans "Add To Cart" %}" />#}

                                    <button class="btn btn-success" type="submit" name="submit">
                                        <i class="icon-shopping-cart icon-white" style="margin-right: 5px;"></i><span>Добавить в корзину</span>
                                    </button>



{#                                     <input id="id_submit" value="Отправить" type="button" onclick="addToCart()">#}
                                </form>
{#                                <form method="post" action="." class="cart" id="addToCartForm">{% csrf_token %}#}
{#                                    {{ form.as_p }}#}
{##}
{#                                    <button class="btn btn-success" type="submit" name="submit">#}
{#                                        <i class="icon-shopping-cart icon-white" style="margin-right: 5px;"></i><span>Добавить в корзину</span>#}
{#                                    </button>#}
{##}
{#                                    <input id="id_submit" value="Отправить" type="button" onclick="addToCart()">#}
{##}
{#                                </form>#}



{#                                <form method="post" action="." class="cart">{% csrf_token %}#}
{#                                    {{ form.as_p }}#}
{#                                </form>#}

                            <div id="message"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h4>Описание:</h4>
                    <div class="tab-pane border_bot" id="description">{{ p.description|safe }}</div>
                </div>

                <div class="col-md-12">
                    <h1 class="center">Отзывы о продукте</h1>
                
                    {% if user.is_authenticated %}
                        <form  method="post" action="." class="border_bot">{% csrf_token %}
                            {{ form2.text }}
                            {% if user.have_profile %}
                                <input class="btn btn-primary" name="review" style="margin-top: 20px; display: block;" type="submit" value="Сохранить"/>
                            {% else %}
                                <input class="btn btn-primary disabled" name="review" style="margin-top: 20px; display: block;" type="submit" value="Сохранить"/> <span class="help-block">Что бы оставить отзыв заполните пожалуйста Ваши данные в личном аккаунте</span>
                            {% endif %}
                        </form>
                    {% else %}
                        <span class="help-block" style="text-align: center">Что бы оставить отзыв, пожалуйста, зарегистрируйтесь и введите Ваши данные</span>
                    {% endif %} 

                    {% for review in reviews %}
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" alt="64x64" {% if review.userProfile.icon %}src="/media/{{ review.userProfile.icon }}" {% else %} src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" {% endif %} style="width: 64px; height: 64px;">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{ review.userProfile.shipping_name }} <span style="font-size: 12px; color: #333; font-family: 'Archive';">{{ review.date }}</span></h4>
                                {{ review.text|safe }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>



        </div>
    </div>

<div id="message_show" class="hidden">
    <div class="message_inner">
        <h6>Спасибо!</h6>
        <p>В ближайшее время наш менеджер свяжется с Вами</p>
        <button  class="btn btn-primary" onclick="closeMessage();">Закрыть</button>
    </div>
</div>

{% endblock %}

{#подключаем скрипт blueimp только на этой странице что бы не засорять код#}
{% block bottom_script %}

    <script type="text/javascript">
        document.getElementById('id_plus').onclick = function (plus) {
            var quantity = document.getElementById('id_quantity').value;
            quantity = parseInt(quantity)+1;
            $('#id_quantity').val(quantity);
		};
        document.getElementById('id_minus').onclick = function (plus) {
            var quantity = document.getElementById('id_quantity').value;
            if (parseInt(quantity) > 1) {
                quantity = parseInt(quantity)-1;
                $('#id_quantity').val(quantity);
            }
		};
	</script>

{% endblock %}