{% extends "catalog.html" %}
{% load thumbnail %}
{% load i18n %}

{% block slider %}
{% endblock %}

{% block tri_bloka %}
{% endblock %}


{% block content %}
    <div id="catalog">
            <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ page_name }}</h1>
                    </div>
                   <div class="col-xs-12">
{#                        <h3>{{ c.description }}</h3>#}
                   </div>

{#                    если продукты существуют#}
                    {% if products %}
{#                        цыкл по продуктам (осуществляется проход до тех пор пока есть продукты)#}
                        {% for p in products %}
                            <div class="col-xs-4">
                                <div class="product_thumbnail">
                                    <a href="{{ p.get_absolute_url }}">
{#                                        {% thumbnail p.image_url "200x200" crop="center" as im %}#}
                                            <img src="/media/{{ p.image_url }}" width="200" height="200">
{#                                        {% endthumbnail %}#}
                                        <br />
                                        <h2>{{ p.name }}</h2>
                                    </a>
                                    {% if p.sale_price.new_price != 0.00 %}
                                        <div class="price_was">
                                            {% trans "Was" %}: <span>{{ p.sale_price.price }} {% trans "руб." %}</span>
                                        </div>
                                        <div class="price_now">
                                            {% trans "Now" %}:<span> {{ p.sale_price.new_price }} {% trans "руб." %} *</span>
                                        </div>
                                        <p>*за объем: {{ p.sale_price.volume }} мл.</p>
                                    {% else %}
                                        <p>{{ p.sale_price.price }} {% trans "руб." %}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
{#                        закончить цыкл#}

{#                    иначе .... если продукты не существуют#}
                    {% else %}
                       <div class="none_tovar">
                        {% trans "В категории отсутствуют товары" %}
                       </div>
                    {% endif %}
{#                    закончить условие "если"#}
            </div>
    </div>
{% endblock %}


