{#bootstrap#}
{% load bootstrap3 %}
{% load catalog_tags %}
{% load i18n %}
{% load mptt_tags %}
{% load thumbnail %}
{% load dajaxice_templatetags %}

<!DOCTYPE HTML>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/css.css" />
{#        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>#}
{#        {% bootstrap_css %}#}
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
{#        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.css"/>#}
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/myResponsive.css" rel="stylesheet" />
{#        <link href="{{ STATIC_URL }}css/non-responsive.css" rel="stylesheet" />#}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/selectbox.css"/>
{#        <link rel="stylesheet" href="{{ STATIC_URL }}fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />#}

{#        <link href="{{ STATIC_URL }}css/flexslider.css" rel="stylesheet">#}
{#        <link href="{{ STATIC_URL }}css/theme-style.css" rel="stylesheet">#}
        <link href="{{ STATIC_URL }}font/css/font-awesome.min.css" rel="stylesheet">
{#        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">#}
{#        <link href="{{ STATIC_URL }}font/css/whhg.css" rel="stylesheet">#}


{#    <link href="http://mightyslider.com/assets/css/style.css" rel="stylesheet">#}
{#		<link href="http://mightyslider.com/assets/css/m-styles.min.css" rel="stylesheet">#}
{#		<link href="http://mightyslider.com/assets/css/font-awesome.min.css" rel="stylesheet">#}
		<link href="{{ STATIC_URL }}mightySlider/src/css/mightyslider.css" rel="stylesheet">
{#		<link href="http://mightyslider.com/assets/js/ilightbox/css/ilightbox.css" rel="stylesheet" />#}
		<style>
			html {
				overflow: inherit;
			}

			body {
				overflow: auto;
			}
		</style>



        {% block print_css %}
        {% endblock %}

        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="keywords" content="{{ meta_keywords }}" />
        <meta name="description" content="{{ meta_description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <style type="text/css">
            body {
              padding-top: 60px;
              padding-bottom: 40px;
            }
        </style>

    {#    dajax#}
        <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
        <script type="text/javascript" charset="utf-8">

            function send_form(){
    {#            $('.loading').removeClass('hidden');#}
                Dajaxice.webshop.ajaxapp.send_form(Dajax.process,{'form':$('#my_form').serialize(true)});
            }

            function order_form(){
                Dajaxice.webshop.ajaxapp.order_form(Dajax.process,{'form':$('#my_form').serialize(true)});

            }

            function closeMessage(){
                $('#message_show').addClass('hidden');
            }

            function calc_delivery() {
                Dajaxice.webshop.ajaxapp.calc_delivery(Dajax.process,{'form':$('#rb_delivery').serialize(true)});
            }

            function change_atrs() {
                Dajaxice.webshop.ajaxapp.change_atrs(Dajax.process, {'option':this.value});
            }



          //  function pluss() {


      //      }


           //     $('#price_old').addClass('hidden');


{#                    Dajaxice.webshop.ajaxapp.addToCart(Dajax.process,{'form':$('#addToCartForm').serialize(true)});#}


        </script>

    {% block onload_cart_script %}
    {% endblock %}

        <script type="text/javascript" src="{{ STATIC_URL }}dajax/dajaxice.core.js"></script>
    {#    dajax end#}



        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>

{#        <script type="text/javascript">#}
{#            var quantity = $('#id_quantity').value();#}
{#                quantity = parseInt(quantity);#}
{#                $('#message_show').value('hidden');#}
{#                $('#id_submit').click(function(){#}
{#                    $('#id_quantity').value(quantity+1);#}
{#                    console.log(1);#}
{#                    //alert('hello');#}
{#                });#}
{#        </script>#}
{#        <script src="{{ STATIC_URL }}mightySlider/src/js/mightyslider.min.js"></script>#}

{#    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>#}
    <!-- Uses the built in easing capabilities added In jQuery 1.1 to offer multiple easing options -->
{#    <script type="text/javascript" src="{{ STATIC_URL }}mightySlider/assets/js/jquery.easing.1.3.js"></script>#}
    <!-- Mobile touch events for jQuery -->
    <script type="text/javascript" src="{{ STATIC_URL }}mightySlider/assets/js/jquery.mobile.just-touch.js"></script>
    <!-- Main slider JS script file -->
    <script src="{{ STATIC_URL }}mightySlider/src/js/mightyslider.min.js"></script>

        <script src="{{ STATIC_URL }}js/jquery.selectbox.min.js"></script>
        <script src="{{ STATIC_URL }}js/custom.js"></script>

    {% block ckeditor %}
    {% endblock %}


    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/jquery.fancybox.pack.js"></script>

        {% block product_js %}
        {% endblock %}

        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

{#        {% bootstrap_javascript %}#}
        {% bootstrap_messages %}

{#    ------------------Serlect------------------------- #}
        <script>
            (function($) {
                $(function() {
                    $('select').selectbox();
                });



            })(jQuery);

        </script>

{#    ------------------Меню------------------------- #}


          {#    для фиксированного меню #}
{#            <script type="text/javascript">#}
{#            jQuery(document).ready(function(){#}
{#                /* функция кроссбраузерного определения отступа от верха документа к текущей позиции скроллера прокрутки */#}
{#                function getScrollTop() {#}
{#                           var scrOfY = 0;#}
{#                           if( typeof( window.pageYOffset ) == "number" ) {#}
{#                                   //Netscape compliant#}
{#                                   scrOfY = window.pageYOffset;#}
{#                           } else if( document.body#}
{#                           && ( document.body.scrollLeft#}
{#                           || document.body.scrollTop ) ) {#}
{#                                   //DOM compliant#}
{#                                   scrOfY = document.body.scrollTop;#}
{#                           } else if( document.documentElement#}
{#                           && ( document.documentElement.scrollLeft#}
{#                            || document.documentElement.scrollTop ) ) {#}
{#                                   //IE6 Strict#}
{#                                   scrOfY = document.documentElement.scrollTop;#}
{#                           }#}
{#                           return scrOfY;#}
{#                }#}
{#                /* пересчитываем отступ при прокрутке экрана */#}
{#                jQuery(window).scroll(function() {#}
{#                    fixPaneRefresh();#}
{#                });#}
{##}
{#                function fixPaneRefresh(){#}
{#                    if (jQuery("#menu_fixed").length) {#}
{#                        var top  = getScrollTop();#}
{#                        if (top > 198) {#}
{##}
{#                            jQuery("#menu_fixed").css({#}
{#                                top: 0,#}
{#                                position: 'fixed',#}
{#                                marginTop: 0,#}
{#                                zIndex: 11000#}
{#                            });#}
{#                        }else {#}
{#                            jQuery("#menu_fixed").css({#}
{#                                position: 'static'#}
{#                            });#}
{#                        }#}
{#                    }#}
{#                }#}
{##}
{#            });#}
{#            </script>#}


{#    защита контента#}

{#    <script type="text/javascript">#}
{#        document.ondragstart = test;#}
{#        document.onselectstart = test;#}
{#        document.oncontextmenu = test;#}
{#        function test() {#}
{#            return false;#}
{#        }#}
{#        document.oncontextmenu;#}
{#        function catchControlKeys(event){#}
{#            var code=event.keyCode ? event.keyCode : event.which ? event.which : null;#}
{#            if (event.ctrlKey){#}
{#                // Ctrl+U#}
{#                if (code == 117) return false;#}
{#                if (code == 85) return false;#}
{#                // Ctrl+C#}
{#                if (code == 99) return false;#}
{#                if (code == 67) return false;#}
{#                // Ctrl+A#}
{#                if (code == 97) return false;#}
{#                if (code == 65) return false;#}
{#            }#}
{#        }#}
{#    </script>#}
{#    -------------------------------------------#}

    </head>
    <body onkeypress="return catchControlKeys(event)">

{#        {% include "common/navigation.html" %}#}

        {% block menu %}
            {% menu request %}
{#            <nav class="pushy pushy-left">#}
{#                <ul>#}
{#                    <li><a href="#">Item 1</a></li>#}
{#                    <li><a href="#">Item 2</a></li>#}
{#                    <li><a href="#">Item 3</a></li>#}
{#                    <li><a href="#">Item 4</a></li>#}
{#                    <li><a href="#">Item 5</a></li>#}
{#                    <li><a href="#">Item 6</a></li>#}
{#                </ul>#}
{#            </nav>#}
        {% endblock %}

        <!-- Site Overlay -->
        <div class="site-overlay"></div>

        {#                содержимое в catalog.html#}
        {% block site_wrapper %}
        {% endblock %}

    {#    flex-slider#}
{#        <script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>#}
{#        <script src="{{ STATIC_URL }}js/script.js"></script>#}

        {#    blueimp#}
        {% block bottom_script %}
        {% endblock %}

        <script src="{{ STATIC_URL }}js/pushy.min.js"></script>

    </body>
</html>