{% load catalog_tags %}

	<div  id="menu_fixed">
		{# {{device}}#}
		<div class="main_menu">
			<ul>
				<li>
					<div class="btn toggle-button menu-btn">&#9776; Меню</div>
				</li>
				<li class="pull-right" style="margin-right: 15px">
					<form method="post" action="/cart/" class="cart">{% csrf_token %}
						<button {% if delivery.is_to_big %}disabled="disabled"{% endif %} class="btn btn-success cart_button" type="submit" name="checkout">
						<i class="icon-shopping-cart icon-white" style="margin-right: 5px;"></i><span>Оформить</span></button>
					</form>
				</li>
			</ul>
		</div>
	</div>

