{% extends "base.html" %}
{% load i18n %}
{% load catalog_tags %}
{% load search_tags %}

{% block site_wrapper %}
	{% load sitetree %}



	{#    <!-- Site Overlay -->#}
	{#    <div class="site-overlay"></div>#}

		{% block top_menu %}
			{% if device != 'mobile' %}
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						{% sitetree_menu from "top_menu" include 'trunk' %}
					</div>
				</nav>
			{% endif %}
		{% endblock %}


		{% block slider %}
			{% slider request %}
		{% endblock %}

		{% block current_menu %}
			{% include 'menu.html' %}
		{% endblock current_menu %}



		{% block breadcrumbs %}
			{% if request.path_info != '/' %}
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-5">

							<ol class="breadcrumb">
								{% for breadcrumb in request.breadcrumbs %}
									{% if not forloop.last %}
										<li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
									{% else %} <li class="active">{{ breadcrumb.name }}</li> {% endif %}
								{% endfor %}
							</ol>

						</div>
					</div>
				</div>
			{% endif %}
		{% endblock breadcrumbs %}

		{% block tri_bloka %}
		{% endblock %}

		{% block content %}
		{% endblock %}

		{% block partners %}
		{% endblock %}

		{% include 'footer.html' %}

{% endblock %}
