{% extends "base.html" %}
{% load i18n %}
{% load catalog_tags %}
{% load search_tags %}
{#{% load mptt_tags %}#}
{% block site_wrapper %}
{% load sitetree %}



{#    <!-- Site Overlay -->#}
{#    <div class="site-overlay"></div>#}

    {% block top_menu %}
        {% if flavour != 'mobile' %}
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    {% sitetree_menu from "top_menu" include 'trunk' %}
                </div>
            </nav>
        {% endif %}


    {#<main id="panel">#}

    {#</main>#}

{#        <nav class="navbar navbar-default navbar-fixed-top">#}
{#          <div class="container">#}
{#            <ul class="nav navbar-nav pull-right">#}
{#                <li><a href="/">Главная <span class="sr-only"></span></a></li>#}
{#                <li><a href="/page/o-dostavke"><span class=""></span>О доставке</a></li>#}
{#                <li><a href="/page/ob-oplate"><span class=""></span>Об оплате</a></li>#}
{#            </ul>#}
{#          </div>#}
{#        </nav>#}
    {% endblock %}


    {% block slider %}
        {% slider request %}
    {% endblock %}

    {% include 'menu.html' %}


    {# {{flavour}}#}

    {% block tri_bloka %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block partners %}
    {% endblock %}

{#        блок футер#}
    {% include 'footer.html' %}

{#    </div>#}

{% endblock %}
