{% load sitetree %}
{% if device == 'mobile' %}
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="socials">
                                <a href="https://vk.com/waymyru" target="_blank"><img src="{{ STATIC_URL }}images/vk2.png" alt="Группа вконтакте waymy.ru"/></a>
                                <a href=" https://www.facebook.com/pages/Мой-маркет/443721102401041" target="_blank"><img src="{{ STATIC_URL }}images/fb2.png" alt="Группа facebook waymy.ru"/></a>
                                <a href="https://instagram.com/waymy.ru" target="_blank"><img src="{{ STATIC_URL }}images/insta2.png" alt="Instagram магазина waymy.ru"/></a>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <p>Контактный телефон по всей России: +7(495)643-00-98</p>
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <p>Москва:</p>
                                    <p>тел: +7(495)643-00-98</p>
                                    <p>Метро "Вднх" Ул.Маломосковская 2</p>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <p>Казань:</p>
                                    <p>тел: +7(843)259-04-94</p>
                                    <p>Метро "Яшлек" Ул.Декабристов 112</p>
                                </div>
                                 <div class="col-xs-6 col-md-6">
                                    <p>Набережные челны:</p>
                                    <p>тел: +7(917)934-37-64</p>
                                    <p>ул. Шамиля Усманова 62/3</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-3">
                             {# <a class="brand" href="http://forward70.ru">Создание сайтов Forward Group</a> #}
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <ul class="payment">
                                <li><img src="{{ STATIC_URL }}images/payment/visa.png" alt="Платежная система виза"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/mastercard.png" alt="Платежная система мастеркард"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/alfabank.png" alt="Платежная система альфа-банк"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/webmoney.png" alt="Платежная система веб-мани"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/qiwi.png" alt="Платежная система киви"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/yandex-money.png" alt="Платежная система яндекс деньги"/></li>
                                {% if flavour != 'mobile' %}
                                    <li><img src="{{ STATIC_URL }}images/payment/mail-money.png" alt="Платежная система мейл-деньги"/></li>
                                    <li><img src="{{ STATIC_URL }}images/payment/rbk-money.png" alt="Платежная система рбк-мани"/></li>
                                    <li><img src="{{ STATIC_URL }}images/payment/elecsnet.png" alt="Платежная система элекснет"/></li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="metrika">
                            <!-- Yandex.Metrika counter -->
                            <script type="text/javascript">
                            (function (d, w, c) {
                                (w[c] = w[c] || []).push(function() {
                                    try {
                                        w.yaCounter29898264 = new Ya.Metrika({id:29898264,
                                                webvisor:true,
                                                clickmap:true,
                                                trackLinks:true,
                                                accurateTrackBounce:true});
                                    } catch(e) { }
                                });

                                var n = d.getElementsByTagName("script")[0],
                                    s = d.createElement("script"),
                                    f = function () { n.parentNode.insertBefore(s, n); };
                                s.type = "text/javascript";
                                s.async = true;
                                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                                if (w.opera == "[object Opera]") {
                                    d.addEventListener("DOMContentLoaded", f, false);
                                } else { f(); }
                            })(document, window, "yandex_metrika_callbacks");
                            </script>
                            <noscript><div><img src="//mc.yandex.ru/watch/29898264" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                            <!-- /Yandex.Metrika counter -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elif device == 'tablet' %}

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-xs-4">
                            {% sitetree_menu from "top_menu" include 'trunk' template "sitetree/list.html" %}
                        </div>



                        <div class="col-xs-8">
                            <p>Контактный телефон по всей России: +7(495)643-00-98</p>
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <p>Москва:</p>
                                    <p>тел: +7(495)643-00-98</p>
                                    <p>Метро "Вднх" Ул.Маломосковская 2</p>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <p>Казань:</p>
                                    <p>тел: +7(843)559-04-94</p>
                                    <p>Метро "Яшлек" Ул.Декабристов 112</p>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <p>Набережные челны::</p>
                                    <p>тел: +7(917)934-37-64</p>
                                    <p> ул. Шамиля Усманова 62/3</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="socials">
                                 <a href="https://vk.com/waymyru" target="_blank"><img src="{{ STATIC_URL }}images/vk2.png" alt="Группа вконтакте waymy.ru"/></a>
                                <a href=" https://www.facebook.com/pages/Мой-маркет/443721102401041" target="_blank"><img src="{{ STATIC_URL }}images/fb2.png" alt="Группа facebook waymy.ru"/></a>
                                <a href="https://instagram.com/waymy.ru" target="_blank"><img src="{{ STATIC_URL }}images/insta2.png" alt="Instagram магазина waymy.ru"/></a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-3">
                             {# <a class="brand" href="http://forward70.ru">Создание сайтов Forward Group</a> #}
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <ul class="payment">
                                <li><img src="{{ STATIC_URL }}images/payment/visa.png" alt="Платежная система виза"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/mastercard.png" alt="Платежная система мастеркард"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/alfabank.png" alt="Платежная система альфа-банк"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/webmoney.png" alt="Платежная система веб-мани"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/qiwi.png" alt="Платежная система киви"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/yandex-money.png" alt="Платежная система яндекс деньги"/></li>
                                {% if flavour != 'mobile' %}
                                    <li><img src="{{ STATIC_URL }}images/payment/mail-money.png" alt="Платежная система мейл-деньги"/></li>
                                    <li><img src="{{ STATIC_URL }}images/payment/rbk-money.png" alt="Платежная система рбк-мани"/></li>
                                    <li><img src="{{ STATIC_URL }}images/payment/elecsnet.png" alt="Платежная система элекснет"/></li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="metrika">
                            <!-- Yandex.Metrika counter -->
                            <script type="text/javascript">
                            (function (d, w, c) {
                                (w[c] = w[c] || []).push(function() {
                                    try {
                                        w.yaCounter29898264 = new Ya.Metrika({id:29898264,
                                                webvisor:true,
                                                clickmap:true,
                                                trackLinks:true,
                                                accurateTrackBounce:true});
                                    } catch(e) { }
                                });

                                var n = d.getElementsByTagName("script")[0],
                                    s = d.createElement("script"),
                                    f = function () { n.parentNode.insertBefore(s, n); };
                                s.type = "text/javascript";
                                s.async = true;
                                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                                if (w.opera == "[object Opera]") {
                                    d.addEventListener("DOMContentLoaded", f, false);
                                } else { f(); }
                            })(document, window, "yandex_metrika_callbacks");
                            </script>
                            <noscript><div><img src="//mc.yandex.ru/watch/29898264" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                            <!-- /Yandex.Metrika counter -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% else %}

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-2">
                            {% sitetree_menu from "top_menu" include 'trunk' template "sitetree/list.html" %}
                        </div>
                        
                        <div class="col-xs-6 col-md-7">
                            <p>Контактный телефон по всей России: +7(495)643-00-98</p>
                            <div class="row">
                                <div class="col-xs-6 col-md-4">
                                    <p>город Москва:</p>
                                    <p>тел: +7(495)643-00-98</p>
                                    <p>Метро "Вднх" Ул.Маломосковская 2</p>
                                </div>
                                <div class="col-xs-6 col-md-4">
                                    <p>город Казань:</p>
                                    <p>тел: +7(843)259-04-94</p>
                                    <p>Метро "Яшлек" Ул.Декабристов 112</p>
                                </div>
                                <div class="col-xs-6 col-md-4">
                                    <p>город Набережные челны:</p>
                                    <p>тел: +7(917)934-37-64</p>
                                    <p>ул. Шамиля Усманова 62/3</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-6 col-md-3">
                            <div class="socials">
                                <a href="https://vk.com/waymyru" target="_blank"><img src="{{ STATIC_URL }}images/vk2.png" alt="Группа вконтакте waymy.ru"/></a>
                                <a href=" https://www.facebook.com/pages/Мой-маркет/443721102401041" target="_blank"><img src="{{ STATIC_URL }}images/fb2.png" alt="Группа facebook waymy.ru"/></a>
                                <a href="https://instagram.com/waymy.ru" target="_blank"><img src="{{ STATIC_URL }}images/insta2.png" alt="Instagram магазина waymy.ru"/></a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-12">
                            <ul class="payment">
                                <li><img src="{{ STATIC_URL }}images/payment/visa.png" alt="Платежная система виза"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/mastercard.png" alt="Платежная система мастеркард"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/alfabank.png" alt="Платежная система альфа-банк"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/webmoney.png" alt="Платежная система веб-мани"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/qiwi.png" alt="Платежная система киви"/></li>
                                <li><img src="{{ STATIC_URL }}images/payment/yandex-money.png" alt="Платежная система яндекс деньги"/></li>
                                {% if flavour != 'mobile' %}
                                    <li><img src="{{ STATIC_URL }}images/payment/mail-money.png" alt="Платежная система мейл-деньги"/></li>
                                    <li><img src="{{ STATIC_URL }}images/payment/rbk-money.png" alt="Платежная система рбк-мани"/></li>
                                    <li><img src="{{ STATIC_URL }}images/payment/elecsnet.png" alt="Платежная система элекснет"/></li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="metrika">
                            <!-- Yandex.Metrika counter -->
                            <script type="text/javascript">
                            (function (d, w, c) {
                                (w[c] = w[c] || []).push(function() {
                                    try {
                                        w.yaCounter29898264 = new Ya.Metrika({id:29898264,
                                                webvisor:true,
                                                clickmap:true,
                                                trackLinks:true,
                                                accurateTrackBounce:true});
                                    } catch(e) { }
                                });

                                var n = d.getElementsByTagName("script")[0],
                                    s = d.createElement("script"),
                                    f = function () { n.parentNode.insertBefore(s, n); };
                                s.type = "text/javascript";
                                s.async = true;
                                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                                if (w.opera == "[object Opera]") {
                                    d.addEventListener("DOMContentLoaded", f, false);
                                } else { f(); }
                            })(document, window, "yandex_metrika_callbacks");
                            </script>
                            <noscript><div><img src="//mc.yandex.ru/watch/29898264" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                            <!-- /Yandex.Metrika counter -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}
