{% load catalog_tags %}

{% if device == 'mobile' %}
    <div  id="menu_fixed">
        {# {{device}}#}
        <div class="main_menu"  >
                <img class="img_menu" src="{{ STATIC_URL }}images/menu_bg_1136_2.png" alt=""/>
                <div class="container">
                    <div class="row">

                        <div class="col-xs-4">
                            <div class="toggle-button menu-btn">&#9776; Меню</div>
                        </div>

                        <div class="col-xs-4">
                            <a href="/"><img class="logo_class" src="/static/images/logo3.png" /></a>
                        </div>

                        <div class="col-xs-2">
                            <div class="cart_icon">
                                {% cart_box request %}
                            </div>
                        </div>

                        <div class="col-xs-2">

                            <div class="auth">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="{% url show_cart %}" class="dropdown-toggle" data-toggle="dropdown">
                                            <n style=""></n><i class="fa fa-user"><span >{{ cart_i.count }}</span></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% if user.is_authenticated %}
                                                <li><a href="{% url my_account %}"><span>Мой аккаунт</span></a></li>
                                                <li ><a href="{% url django.contrib.auth.views.logout %}"><span>Выйти</span></a></li>
                                            {% else %}
                                                <li style=" margin: 6px 10px 0px 0px; "><a href="{% url django.contrib.auth.views.login %}"><span>Войти</span></a></li>
                                                <li style=" margin-top: 6px; "> <a href="{% url register %}"><span>Регистрация</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>
        </div>
    </div>

{% elif device == 'tablet' %}

    <div  id="menu_fixed">
        <div class="main_menu" {% if request.path == "/"%}style="margin-top: -100px;"{% endif %} >

                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="toggle-button menu-btn">&#9776; Меню</div>                                
                        </div>

                        {% if device != 'mobile' or flavour != 'mobile' %}
                            <div class="col-xs-4">
                                <a href="/"><img class="logo_class" src="/static/images/logo3.png" /></a>
                            </div>
                        {% endif %}

                        <div class="col-xs-3">
                            <div class="cart_icon">
                                {% cart_box request %}
                            </div>
                        </div>

                        <div class="col-xs-1">                            
                            <div class="auth">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="{% url show_cart %}" class="dropdown-toggle" data-toggle="dropdown">
                                            <n style="">Кабинет</n>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% if user.is_authenticated %}
                                                <li><a href="{% url my_account %}"><span>Мой аккаунт</span></a></li>
                                                <li ><a href="{% url django.contrib.auth.views.logout %}"><span>Выйти</span></a></li>
                                            {% else %}
                                                <li style=" margin: 6px 10px 0px 0px; "><a href="{% url django.contrib.auth.views.login %}"><span>Войти</span></a></li>
                                                <li style=" margin-top: 6px; "> <a href="{% url register %}"><span>Регистрация</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>                           
                        </div>

                    </div>

                </div>
        </div>
    </div>

{% else %}

    <div  id="menu_fixed">
        <div class="main_menu" {% if request.path == "/" and  flavour != 'mobile' %}style="margin-top: -100px;"{% endif %} >
            {% if flavour == 'mobile' or flavour == 'tablet' %}
                <img class="img_menu" src="{{ STATIC_URL }}images/menu_bg_1136_2.png" alt=""/>
            {% endif %}

                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 col-md-5">
    {#                        показываем меню в зависимости от устройства #}
                            {% if device == 'mobile' or device == 'tablet' or flavour == 'mobile'%}
                                <div class="toggle-button menu-btn">&#9776; Меню</div>
                            {% else %}
                                <div class="menu_left">
                                    <p><a href="/"><span class=""></span>Главная</a></p>
                                    <p><a href="/review"><span class=""></span>Отзывы</a></p>
                                    <p><a href="/articles"><span class=""></span>Статьи</a></p>
                                    <p><a href="/page/kontakty"><span class=""></span>Контакты</a></p>
                                </div>
                            {% endif %}
                        </div>

                        {% if device != 'mobile' or flavour != 'mobile' %}
                            <div class="col-xs-2 col-md-2">
                                <a href="/"><img class="logo_class" src="/static/images/logo3.png" /></a>
                            </div>
                        {% endif %}

                        <div class="col-xs-4 col-sm-3 col-md-3">
                            <div class="cart_icon">
                                {% cart_box request %}
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-1 col-md-2">
                            {% if device != 'mobile' or flavour != 'mobile' %}
                            <div class="search">
                                <form class="navbar-form navbar-left" method="get" action="/search/results/" role="search">
                                    <div class="input-group">
                                        <input name="query" id="{{ form.auto_id }}" type="text" value=""
                                               class="search-query span2" placeholder="Поиск"/>
                                        <span class="input-group-btn">
                                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            {% endif %}


                            <div class="auth">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="{% url show_cart %}" class="dropdown-toggle" data-toggle="dropdown">
                                            <n style="">Кабинет</n> <i class="fa fa-user"><span >{{ cart_i.count }}</span></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% if user.is_authenticated %}
                                                <li><a href="{% url my_account %}"><span>Мой аккаунт</span></a></li>
                                                <li ><a href="{% url django.contrib.auth.views.logout %}"><span>Выйти</span></a></li>
                                            {% else %}
                                                <li style=" margin: 6px 10px 0px 0px; "><a href="{% url django.contrib.auth.views.login %}"><span>Войти</span></a></li>
                                                <li style=" margin-top: 6px; "> <a href="{% url register %}"><span>Регистрация</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            {% if flavour != 'mobile' %}
                                <a id="add_this" href="#" onclick="return addFavorite(this);">Добавить в избранное! <i style="color: #333" class="fa fa-star"></i></a>
                            {% endif %}
                        </div>

                    </div>

                </div>
        </div>
    </div>

{% endif %}
